body {
    font-family: "Arial", "Georgia";
    font-smooth: never;
    max-width: 100vw;
    color: black;
    text-align: justify;
    margin: 15px;
    background-color: white;
}

h1 {
    text-align: center;
}

table {
    width:100%;
}

table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
}
td {
  vertical-align: middle;
}
td input{
  margin:10px;
}

.italic {
    font-style: italic;
}

.red {
    color: #c41723;
}

.common_h1{
text-align:center;
margin:auto;
margin-bottom:25px;
display:block;
font-size:28px;
font-weight: bold;
color:#404040;
}

h2,
.common_h2{
  font-weight: bold;
  color:#c41723;
  line-height:27px;
  font-variant:petite-caps;
  font-size: 19px;

}

.input_checkbox{
  margin:10px;
  padding:2px;
}

.score_inter,
.score_ref{
  font-variant:petite-caps;
  font-weight: bold;
  background-color: white;
  margin-top:22px;
  font-size: 17px;
}

.description{
  font-size: 15px;
}

.score_result{
  font-size:20px;
  font-weight: bold;
  width:100%;
  text-align: center;

}

.input_score,
.score_result input{
  width:40px;
  height:30px;
  font-size:20px;
  color:#c41723;
  font-weight: bold;
  text-align: center;
}

.score_result div{
  font-size: 15px;
  font-weight: normal;
}

/* QIF */
.form_qif td{
  padding: 2px;
  text-align:center;
}
.form_qif td:first-child{
  text-align:left;
}
.table_qif td{
    text-align: center;
    border:0px solid #FFFFFF;
}
.td_question{
    text-align: left !important;
    padding: 20px 0 20px 0 !important;
}
.tr_question td{
    padding: 7px 3px 3px 0px !important;
    /*vertical-align: bottom;*/
}
.info{
    vertical-align: top;
    font-size:15px;
    vertical-align: top;
    color:#444444;
}
.subtitle td{
  text-align:center;
  vertical-align: top;
}
.altern_color{
  background-color:#DEDEDE
}

/* ASAS AXIALE */
.bold {
    font-weight: bold;
}

.and {
    color: green;
    margin: 5px;
}

.or {
    color: blue;
}

.red {
    color: #c41723;
}
/* ASAS PERIPHERIQUE */
.small {
    font-size: 0.8em;
}


/* ACR 2010 */
.acr_2010 td{
    vertical-align: center;
    text-align: center;
}

.acr_2010 .score_subtitle{
  text-align:right;
}
