body {
    font-family: "Arial", "Georgia";
    font-smooth: never;
    max-width: 100vw;
    color: black;
    text-align: justify;
    margin: 15px;
    background-color: white;
}

h1 {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.and {
    list-style: none;
    color: green;
}

.or {
    list-style: none;
    color: blue;
    text-align: center;
}

table {
    width:100%;
}

table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
}
td {
  vertical-align: middle;
}
td input{
  margin:10px;
}

.common_h1{
text-align:center;
margin:auto;
margin-bottom:25px;
display:block;
font-size:28px;
font-weight: bold;
color:#404040;
}

h2,
.common_h2{
  font-weight: bold;
  color:#c41723;
  line-height:27px;
  font-variant:petite-caps;
  font-size: 19px;

}

.input_checkbox{
  margin:10px;
  padding:2px;
}

.score_inter,
.score_ref{
  font-variant:petite-caps;
  font-weight: bold;
  background-color: white;
  margin-top:22px;
  font-size: 17px;
}

.description{
  font-size: 15px;
}

.score_result{
  font-size:20px;
  font-weight: bold;
  width:100%;
  text-align: center;

}

.score_result input{
  width:40px;
  height:30px;
  font-size:20px;
  color:#c41723;
  font-weight: bold;
  text-align: center;
}

.score_result div{
  font-size: 15px;
  font-weight: normal;
}

/* QIF */
.form_qif td{
  padding: 2px;
}
.table_qif td{
    text-align: center;
    border:1px solid #FFFFFF;
}
.td_question{
    text-align: left !important;
    padding: 20px 0 20px 0 !important;
}
.tr_question td{
    /*padding: 15px 0 15px 0 !important;*/
    /*vertical-align: bottom;*/
}
.info{
    vertical-align: top;
    font-size:15px;
    vertical-align: top;
    color:#444444;
}
